<template name="patientUpsertPage">
  <div id="patientUpsertPage" style="{{getPageHeight}}">
    {{> recordHeader type="record" url="patients" spreadsheet=false  imageGrid=false}}

    <div id="patientUpsertCard" class="padded card-contents page" style="{{getOpacity}}">

      <div id="patientMetaData">
        <div id="patientMetaInputs">
          <input id="patientNameInput" class="glass form-control" type="text" placeholder="patientname" value="{{ getName }}" {{isReadOnly}}><br>
          <input id="patientEmailInput"  class="glass form-control" type="text" placeholder="patientname@somewhere.com" value="{{getEmailAddress}}" {{isReadOnly}}>
          <!-- <input id="patientAvatarInput"  class="glass form-control" type="text" placeholder="http://www.widget.com/cog.jpg" value="{{profile.avatar}}" {{isReadOnly}}> -->
        </div>
        <img id="patientImage" src="{{ getAvatar }}" />
      </div>
      <textarea id="patientDescriptionInput"  class="glass form-control" rows="10" placeholder="Lorem ipsum dolar set et..." {{isReadOnly}}>{{profile.description}}</textarea><br>
    </div>

    <footer class="pageFooter">
      <button id="saveUserButton">
        <i class="fa fa-dot-circle-o"></i>
        <i class="fa fa-dot-circle-o"></i>
        <i class="fa fa-dot-circle-o"></i>
      </button>
      {{#if _id}}
        <button id="removeUserButton">
          <i class="fa fa-times"></i>
          <i class="fa fa-times"></i>
          <i class="fa fa-times"></i>
        </button>
      {{/if}}
    </footer>
  </div>
</template>
